footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    background-color: #1D366C;
    height: 80px;
}
footer img{
    width: 90px;
}
footer p{
    font-size: 14px;
    color: white;
    margin-left: 1em;
}
