<div class="container">
    <div class="conteudo">
        <h3>Controle de Produção</h3>
        <section class="produtos">
            <div class="card">
                <h3>Produto: BARRA</h3>
                <div class="status">
                    <fa-icon [icon]="['fas', 'wifi']" size="4x"></fa-icon>
                    <p>Status: <span>Online</span></p>
                </div>
                <a [routerLink]="['prod-barra']">+Detalhes</a>
            </div>
            <div class="card">
                <h3>Produto: ROLO</h3>
                <div class="status">
                    <fa-icon [icon]="['fas', 'wifi']" size="4x"></fa-icon>
                    <p>Status: Online</p>
                </div>
                <a [routerLink]="['prod-rolo']">+Detalhes</a>
            </div>            
            <div class="card">
                <h3>Produto: FIO MÁQUINA</h3>
                <div class="status">
                    <fa-icon [icon]="['fas', 'wifi']" size="4x"></fa-icon>
                    <p>Status: Online</p>
                </div>
                <a [routerLink]="['prod-fiomaquina']">+Detalhes</a>
            </div>            
            <div class="card">
                <h3>Produto: ENDIREITADO</h3>
                <div class="status">
                    <fa-icon [icon]="['fas', 'wifi']" size="4x"></fa-icon>
                    <p>Status: Online</p>
                </div>
                <a [routerLink]="['prod-endireitado']">+Detalhes</a>
            </div>                        
        </section>
    </div>
</div>